{% extends 'partials/_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="d-grid gap-2">
<div id="carouselExampleIndicators" class="carousel slide mt-4">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/e-commerce-g7d9bc4899_1281.jpg' %}" class="d-block w-100" alt="..."style="border: 3px solid black; border-radius: 5px;">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/newtruck2.png' %}" class="d-block w-100" alt="..."style="border: 3px solid black; border-radius: 5px;">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/container-ship-ge9700ff74_1281.jpg' %}" class="d-block w-100" alt="..." style="border: 3px solid black; border-radius: 5px;" >
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <hr>

  <div class="text-center">
    <h1> INVENTORY MANAGER </h1>
  <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas omnis quasi eius, possimus corrupti laborum quam sit amet, obcaecati sequi repellendus laboriosam impedit? Quibusdam ex laboriosam facilis doloribus voluptatum quae similique asperiores voluptate dignissimos culpa debitis, inventore fugit, optio repudiandae consequatur repellendus itaque consequuntur. Fugiat cum mollitia quisquam asperiores blanditiis velit quaerat. Quam asperiores explicabo dolore. Quaerat minima veritatis deleniti placeat totam! Ut similique numquam quia porro quidem vel? Provident impedit nostrum enim ducimus? Odio at animi explicabo amet fugiat, consequuntur doloribus rem dolorum inventore in quos excepturi, eveniet, veritatis unde numquam vitae quam? Omnis expedita possimus in nesciunt fugit?</p>
</div>
<hr>

<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
  <p>© 2024 Company, Inc. All rights reserved.</p>
  <ul class="list-unstyled d-flex">
    <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
    <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
    <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
  </ul>
</div>

</div>
{% endblock content %}


  