{% extends "partials/_base.html" %}
{% block content %}
    <div>
        <button onclick="goBack()" class="btn btn-outline-primary my-3 mx-4">Go Back</button>
        <div class="row">
            <form method='POST' class="col-sm-11 col-md-4 mx-auto mt-5">
                {% csrf_token %}
                <h1 class="fw-light">Are you sure you want to delete {{warehouse.warehouse_name}} !</h1>
                <h1 class="fw-light">All products in this category will be deleted!</h1>
                <p class="fw-light">This cannot be undone</p>
                <div>
                    <button class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock content %}