{% extends "partials/_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container text-center">
        <div class="row mt-5">
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{warehouse.warehouse_name}}</h5>
                      <p class="card-text">Address: {{warehouse.neighborhood}} {{warehouse.street}} {{warehouse.district}}/{{warehouse.city}} {{warehouse.country}} {{warehouse.postal_code}}</p>
                      <p class="card-text">Phone Number: {{warehouse.phone_number}}</p>
                      <a href="{% url 'edit-warehouse' warehouse.slug %}" class="btn btn-primary">Edit Warehouse</a>
                      <a href="{% url 'warehouse-detail-pdf' warehouse.slug %}" class="btn btn-primary">Warehouse Detail Pdf</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                    </div>
                  </div>

                  <div class="card text-center mt-4">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{warehouse.warehouse_name}}</h5>
                      <p class="card-text">Total number of categories: {{categories|length}}</p>
                      <p class="card-text">Total number of items: {{items|length}}</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                    </div>
                  </div>
            </div>
            <div class="col-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.8585466605787!2d35.52166587563522!3d38.70810355785175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x152b128772a0703f%3A0xac1161778fc5a4f3!2sErciyes%20%C3%9Cniversitesi%20M%C3%BChendislik%20Fak%C3%BCltesi!5e1!3m2!1str!2str!4v1733592512061!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

{% endblock content %}

