{% extends "partials/_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 mt-5">
            <div class="content-section p-4 shadow-sm rounded">
                <h2>Password Reset Confirm</h2>
                <hr>
                <p>Please enter your new password.</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form|crispy }}
                    </div>
                    <button class="btn btn-outline-info w-100" type="submit">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}