{% extends 'partials/_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row">
        <div class="col mt-5">
            <h1 class="">Plan Page</h1>
        </div>
    </div>
    <hr size="6" />
    <div class="row justify-content-center">
        {% for plan in plans %}
        <div class="col-12 col-sm-10 col-md-6 col-lg-4 mb-4 d-flex justify-content-center">
            <div class="card" style="width: 100%; max-width: 22rem;">
                <img src="{% static 'images\network-g1883ef682_1280.jpg' %}" alt="">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ plan.plan_name }}</h5>
                    <p class="card-text text-center">{{ plan.plan_description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Max Warehouse: {{ plan.warehouse_limit }}</li>
                    <li class="list-group-item">Max Category per Warehouse: {{ plan.category_per_warehouse_limit }}</li>
                    <li class="list-group-item">Max Product per Category: {{ plan.products_per_category_limit }}</li>
                    {% if plan.plan_type == 'infinite' %}
                    <li class="list-group-item text-center">Free</li>
                    {% else %}
                        {% if plan.plan_type == 'monthly' %}
                        <li class="list-group-item text-center">{{ plan.price }} $ / Month</li>
                        {% else %}
                        <li class="list-group-item text-center">{{ plan.price }} $ / Year</li>
                        {% endif %}
                    {% endif %}
                </ul>
                <div class="card-body text-center">
                    {% if plan.plan_type == subscription.sub_plan.plan_type %}
                    <p class="text-muted">Your Current Plan</p>
                    {% else %}
                        {% if plan.plan_type == 'infinite' %}
                        <p class="text-muted">A plan for free</p>
                        <p><a href="{% url 'upgrade-plan' plan.id %}" class="btn btn-outline-primary">Basic Plan</a></p>
                        {% else %}
                            {% if plan.plan_type == 'monthly' %}
                            <p><a href="{% url 'upgrade-plan' plan.id %}" class="btn btn-outline-primary">Buy Monthly Plan</a></p>
                            {% else %}
                            <p><a href="{% url 'upgrade-plan' plan.id %}" class="btn btn-outline-primary">Buy Annual Plan</a></p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
