{% extends 'partials/_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <div class="row">
        <div class="col mt-5">
          <h1>{{warehouse.warehouse_name}}</h1>
        </div>
    </div>
    <hr size="6">
    <!--
    <div class="row">
      <div class="col d-flex justify-content-end">
        <a href="{% url 'add-category-warehouse' warehouse_slug %}" class="btn btn-primary">Add Category</a>
      </div>
    </div>-->
    <div class="row">
      <div class="col-3">
        <div class="container">
          <div class="row">
            <div class="widget-search">
              <div class="site-search-area">
                <form method="GET" id="site-searchform" action="{% url "search-category" warehouse_slug %}">
                  <div class="form-container">
                    <input class="input-text form-control" name="searchCategory" placeholder="Search category keywords..." type="text">
                    <input id="searchsubmit" value="Search" type="submit">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <hr size="6" class="mt-3">
        <div class="col">
          <div class="mx-auto">
            <a href="{% url 'add-category-warehouse' warehouse_slug %}" class="btn btn-primary">Add Category</a>
          </div>
        </div>
        {% for category in categorylist %}
            <div class="card mt-3">
              <div class="card-body">
                <h5 class="card-title">{{ category.warehouse.warehouse_name }}</h5>
                <p class="card-text">{{ category.category_name }}</p>
                <a href="{% url 'list-item-category' category.warehouse.slug category.slug %}" class="btn btn-primary">Products</a>
                <a href="{% url 'add-item-warehouse' category.warehouse.slug category.slug %}" class="btn btn-primary">Add Item</a>
                <a href="{% url 'delete-category' category.slug %}" class="btn btn-outline-danger">Delete</a>
              </div>
            </div>
        {% endfor %}
      </div>
      <div class="col-9">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="widget-search">
                <div class="site-search-area">
                  <form method="GET" id="site-searchform" action="{% url 'search-product' warehouse_slug %}">
                    <div class="form-container"> 
                      <input class="input-text form-control" name="searchProduct" placeholder="Search product keywords..." type="text">
                      <input id="searchsubmit" value="Search" type="submit">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr size="6" class="mt-3">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Qty</th>
              <th scope="col">Price</th>
              <th scope="col">Description</th>
              <th scope="col">Category</th>
              <th scope="col">Warehouse</th>
            </tr>
          </thead>
          <tbody>
            {% if all_items|length == 0 %}
              <tr>
                <th scope="row">-</th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
              </tr>
            {% endif %}

            {% for item in all_items %}
              <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.item_name }}</td>
                <td>{{ item.quantity }} {{ item.unit }}</td>
                <td>{{ item.price }} {{ item.currency }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.category.category_name }}</td>
                <td>{{ item.warehouse.warehouse_name }}</td>
                <td>
                  <a href="{% url 'edit-item' item.id %}" class="btn btn-outline-secondary">Edit</a>
                </td>
                <td>
                  <a href="{% url 'item-detail' item.warehouse.slug item.category.slug item.slug %}" class="btn btn-outline-success">Detail</a>
                </td>
                <td>
                  <a href="{% url 'delete-item' item.id %}" class="btn btn-outline-danger">Delete</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
