{% extends 'partials/_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Go Back Butonu -->
<div class="go-back-button">
    <a href="{% url 'list-warehouse' %}" class="btn btn-outline-primary my-3 mx-4">Go Back</a>

</div>

<!-- Ana İçerik -->
<div class="content-wrapper mt-4">

  <!-- Satır -->
  <div class="row gx-3 gy-4">

    <!-- Sol Sütun (Kategoriler) -->
    <div class="col-12 col-md-3">
      <div class="px-2 py-3 border rounded">
        <!-- Arama Alanı -->
        <div class="input-group mb-3">
          <input class="form-control" id="searchTerm" placeholder="Enter search term..." type="text">
          <select id="searchType" class="form-control">
            <option value="category">Search Category</option>
            <option value="item">Search Item</option>
          </select>
          <button class="btn btn-primary" onclick="performSearch()">Search</button>
        </div>
        <hr>
        <!-- Kategori Listesi -->
        <div class="col">
          <div class="mx-auto mb-3">
            <a href="{% url 'add-category-warehouse' warehouse_slug %}" class="btn btn-primary">Add Category</a>
          </div>
        </div>
        {% for category in categorylist %}
          <div class="card mb-3 category-card">
            <div class="card-body text-center">
              <h5 class="card-title"><a href="{% url 'list-item-category' category.warehouse.slug category.slug %}">{{category.category_name}}</a></h5>
              <div class="btn-group">
                <a href="{% url 'add-item-warehouse' category.warehouse.slug category.slug %}" class="btn btn-outline-primary btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg></a>
                <a href="{% url 'delete-category' category.slug %}" class="btn btn-outline-danger btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg></a>
                <a href="{% url 'warehouse-detail-pdf' category.warehouse.slug category.slug %}" class="btn btn-outline-success btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                </svg></a>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="container mt-3">
          <nav aria-label="Page navigation example mt-3">
            <ul class="pagination justify-content-center">
              <!-- Önceki Sayfa -->
              {% if categorylist.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?category_page=1" aria-label="First">
                    <span aria-hidden="true">&laquo; First</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?category_page={{ categorylist.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" aria-disabled="true" aria-label="First">
                    <span aria-hidden="true">&laquo; First</span>
                  </a>
                </li>
                <li class="page-item disabled">
                  <a class="page-link" aria-disabled="true" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% endif %}
          
              <!-- Sayfa Numaraları -->
              <li class="page-item active" aria-current="page">
                <a class="page-link">{{ categorylist.number }}</a>
              </li>
          
              <!-- Sonraki Sayfa -->
              {% if categorylist.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?category_page={{ categorylist.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?category_page={{ categorylist.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">Last &raquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" aria-disabled="true" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                <li class="page-item disabled">
                  <a class="page-link" aria-disabled="true" aria-label="Last">
                    <span aria-hidden="true">Last &raquo;</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <!-- Sağ Sütun (Ürünler) -->
    <div class="col-12 col-md-9">
      <h1 class="mb-3">{{ warehouse.warehouse_name }}</h1>
      <hr>
      <!-- Ürün Tablosu -->
      <div class="table-responsive px-2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Qty</th>
              <th>Price</th>
              <th>Description</th>
              <th>Category</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for item in all_items %}
              <tr class="item-row">
                <th scope="row">{{ all_items.start_index|add:forloop.counter0 }}</th>
                <td>{{ item.item_name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.category }}</td>
                <td>
                  <div class="btn-group">
                    <a href="{% url 'item-detail' item.warehouse.slug item.category.slug item.slug %}" class="btn btn-outline-dark btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                    </svg></a>
                    <a href="{% url 'delete-item' item.id %}" class="btn btn-outline-danger btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                    </svg></a>
                    <a href="{% url 'item-detail-pdf' item.warehouse.slug item.category.slug item.slug %}" class="btn btn-outline-success btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                    </svg></a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <!--Pagination for items-->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if all_items.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?item_page=1" aria-label="First">
                  <span aria-hidden="true">&laquo; First</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?item_page={{ all_items.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" aria-disabled="true" aria-label="First">
                  <span aria-hidden="true">&laquo; First</span>
                </a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" aria-disabled="true" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% endif %}
        
            {% for page_num in all_items.paginator.page_range %}
              {% if page_num == all_items.number %}
                <li class="page-item active">
                  <a class="page-link">{{ page_num }}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?item_page={{ page_num }}">{{ page_num }}</a>
                </li>
              {% endif %}
            {% endfor %}
        
            {% if all_items.has_next %}
              <li class="page-item">
                <a class="page-link" href="?item_page={{ all_items.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?item_page={{ all_items.paginator.num_pages }}" aria-label="Last">
                  <span aria-hidden="true">Last &raquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" aria-disabled="true" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" aria-disabled="true" aria-label="Last">
                  <span aria-hidden="true">Last &raquo;</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>        
      </div>
    </div>

  </div>

</div>

<script>
  // Arama Fonksiyonu
  function performSearch() {
    const searchTerm = document.getElementById('searchTerm').value.toLowerCase();
    const searchType = document.getElementById('searchType').value;

    if (searchType === 'category') {
      document.querySelectorAll('.category-card').forEach(card => {
        const categoryName = card.querySelector('.card-title').textContent.toLowerCase();
        card.style.display = categoryName.includes(searchTerm) ? '' : 'none';
      });
    } else if (searchType === 'item') {
      document.querySelectorAll('.item-row').forEach(row => {
        const itemName = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
        row.style.display = itemName.includes(searchTerm) ? '' : 'none';
      });
    }
  }
</script>

{% endblock %}
