{% extends "partials/_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container text-center">
    <div class="row mt-5 mb-5">
        <div class="col-6">
          <div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style" style="min-height: 65vh;">
            <legend class="border-bottom mb-4">Item Information</legend>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="media">
                    <div class="media-body">
                        {% if form.instance.item_image.url %}
                        <input id="id_image" type="file" name="item_image" hidden/>
                        <label for="id_image">
                            <img class="img-fluid border border-2 border-secondary rounded mt-2 mb-3" src="{{form.instance.item_image.url}}" style="max-width: 150px; cursor: pointer;" title="Upload New Image">
                        </label>
                        {% else %}
                            <img class="img-fluid border border-2 border-secondary rounded mt-2 mb-3" src="/media/images/item_images/default_image.jpg" style="max-width: 150px; cursor: pointer;" title="Upload New Image">
                        {% endif %}
                        
                        <p class="text-secondary">Name: {{form.instance.item_name}}</p>
                        <p class="text-secondary">Qty: {{form.instance.quantity}} {{form.instance.unit}} - Price: {{form.instance.price}} {{form.instance.currency}}</p>
                        <p class="text-secondary">Description {{form.instance.description}}</p>
                        <p class="text-secondary">Category: {{item.category}} - Warehouse: {{item.warehouse}}</p>
                    </div>
                </div>
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Edit Item</legend>
                    <div class="form-group">
                        {{ form.item_name|as_crispy_field }}
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            {{ form.quantity|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.unit|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            {{ form.price|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.currency|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.description|as_crispy_field }}
                    </div>
                  
                </fieldset>
                
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
                
            </form>
          </div>
        </div>
    </div>
</div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock content %}

